<section class = 'medium' data-ng-controller="DonateController">
		<h1>Donate to Fun-Congress</h1>
		<p>
			Thanks to <span class = "braintree_dev">
				braintree_dev</span>, we are able to be funded by people like you!
		</p>

		<md-card style = "background-color: lightgrey">
		    <pre>

			    Honestly, they are the greatest people. I know the corporate system is flawed and all,
			    but you should really go out of your way to use either paypal or <span class = "braintree_dev">braintree_dev</span>
				    <br />
				    They're wonderful!
				    Charles Chamberlain &amp; Christopher Walker
		    </pre>
        </md-card>



		<!-- Drop In Form -->
		<form id="checkout" method="post" action="/checkout">
	    <div id="payment-form"></div>
            <md-button type="submit" value="Pay $10"> Pay $10 </md-button>
        </form>

		<!-- <script>
		// braintree.setup(clientToken, "dropin", {
		//   container: "payment-form"
		// });
		// </script> -->
</section>
