<section data-ng-controller="HomeController" layout="column" md-scroll-y flex>
    <div class = "row header_top">
        <h1>Open Congress</h1>
        <img class = "front_photo" src = "https://upload.wikimedia.org/wikipedia/commons/2/27/Capitol_Building_Full_View.jpg"/>
    </div>
</section>

<div class="home-box">
    <div layout="row">
        <div class="home-box1" flex>
            <h2> Play </h2>
            <p>Donec sollicitudin lectus at ante molestie, et pharetra mi consectetur.
                Nunc et metus fringilla felis euismod pellentesque at quis lacus.
                Donec sollicitudin lectus at ante molestie, et pharetra mi consectetur.
                Nunc et metus fringilla felis euismod pellentesque at quis lacus.
                Donec sollicitudin lectus at ante molestie, et pharetra mi consectetur.
                Nunc et metus fringilla felis euismod pellentesque at quis lacus.</p>
        </div>

        <div class="home-box2" flex>
            <h2> Learn </h2>
            <p>Donec sollicitudin lectus at ante molestie, et pharetra mi consectetur.
                Nunc et metus fringilla felis euismod pellentesque at quis lacus.
                Donec sollicitudin lectus at ante molestie, et pharetra mi consectetur.
                Nunc et metus fringilla felis euismod pellentesque at quis lacus.
                Donec sollicitudin lectus at ante molestie, et pharetra mi consectetur.
                Nunc et metus fringilla felis euismod pellentesque at quis lacus.</p>
        </div>

        <div class="home-box3" flex hide-sm>
            <h2> Get Involved </h2>
            <p>Donec sollicitudin lectus at ante molestie, et pharetra mi consectetur.
                Nunc et metus fringilla felis euismod pellentesque at quis lacus.
                Donec sollicitudin lectus at ante molestie, et pharetra mi consectetur.
                Nunc et metus fringilla felis euismod pellentesque at quis lacus.
                Donec sollicitudin lectus at ante molestie, et pharetra mi consectetur.
                Nunc et metus fringilla felis euismod pellentesque at quis lacus.</p>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-text">
        <p>Made at BattleHack Chicago 2015</p>
    </div>
</div>
