<section data-ng-controller="HomeController" layout="column" md-scroll-y flex>
    <div class = "row header_top">
        <h1>Open Congress</h1>
        <img class = "front_photo" src = "https://upload.wikimedia.org/wikipedia/commons/2/27/Capitol_Building_Full_View.jpg"/>
    </div>
</section>

<div class="home-box">
    <div layout="row">
        <div class="home-box1" flex>
            <h2> Play </h2>
            <p>Politics can be boring, and many people don't have difficulty summoning the will get involved. Others
                are very politically active, but don't know how to take their participation to the next level without
                sacrificing an unreasonable amount of their time. Open Congress is here to change that. With fun,
                interactive games for people at all levels of political activity, Open Congress will get you hooked on
                democracy, and make often tedious tasks like analysing voting records more fun than you ever thought possible.</p>
        </div>

        <div class="home-box2" flex>
            <h2> Learn </h2>
            <p> When you use Open Congress, not only are you having fun, but you're learning a lot about the political
                landscape of the United States. Our information comes from the sunlight foundation's api, which means that
                the congressional data used to populate our games is accurate within a day - and in some cases even a minute
                - of the change </p>
        </div>

        <div class="home-box3" flex hide-sm>
            <h2> Get Involved </h2>
            <p>In addition to giving you information in game form with our constantly
                updated info from the sunlight foundation, We'll also give you the tools you need to get more involved,
                with integration of websites like govtrack.us and opensecrets. As well as features like being notified of
                congressional votes by email and texting your address to our phone number, and getting back your personalized
                congress info.</p>
        </div>
    </div>
</div>

<div class="footer">
    <div class="footer-text">
        <p>Made at BattleHack Chicago 2015</p>
    </div>
</div>
