
<section data-ng-controller="SlidesController">

  <md-card>
    <md-card-content id="content" style='height:50vh;'>

      <md-toolbar class="md-warn">Who is your Senator?</md-toolbar>

      <md-radio-group ng-model="choice" id ="choices">
        <md-radio-button value="0">Apple</md-radio-button>
        <md-radio-button value="1"> Banana</md-radio-button>
        <md-radio-button value="2">Mango</md-radio-button>
        <md-radio-button value="3" correct="true">Mango</md-radio-button>
      </md-radio-group>

    </md-card-content>

    <md-button id="final" class='md-raised' ng-click="checkCorrect()">Final Answer</md-button>
  </md-card>

</section>
