<section class="row" data-ng-controller="AuthenticationController">
	<h3>Sign Up</h3>
		<form name="userForm" data-ng-submit="signup()">
				<md-input-container>
					<label for="firstName">First Name</label>
					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="credentials.firstName" placeholder="Sara"">
				</md-input-container>

                <md-input-container>
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="credentials.lastName" placeholder="Ellis">
				</md-input-container>

                <md-input-container>
					<label for="username">E-mail</label>
					<input type="email" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="sara@example.com">
				</md-input-container>

                <md-input-container>
					<label for="address">Street Address</label>
					<input type="text" id="address" name="address" class="form-control" data-ng-model="credentials.address" placeholder="1111 S Wonder Ave">
				</md-input-container>

				<md-input-container>
					<label for="zip">Zip Code</label>
					<input type="text" id="zip" name="zip" class="form-control" data-ng-model="credentials.zip" placeholder="99090">
				</md-input-container>

                <md-input-container>
					<label for="city">City</label>
					<input type="text" id="city" name="city" class="form-control" data-ng-model="credentials.city" placeholder="Chicago">
                </md-input-container>

                <md-input-container>
					<label for="state">State</label>
					<input type="text" id="state" name="state" class="form-control" data-ng-model="credentials.state" placeholder="IL">
                </md-input-container>

                <md-input-container>
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="#battlehack">
                </md-input-container>

				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
		</form>
	</div>
</section>
