<section class="row" data-ng-controller="PasswordController">
	<h3> Restore your password </h3>
	<p class="small text-center">Enter your account username.</p>
		<form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
				<md-input-container>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="E-mail">
				</md-input-container>

                <md-button type="submit">Submit</md-button>

				<div data-ng-show="error" class="text-center text-danger">
					<strong>{{error}}</strong>
				</div>

				<div data-ng-show="success" class="text-center text-success">
					<strong>{{success}}</strong>
				</div>
		</form>
</section>
