<section class="row" data-ng-controller="SettingsController">
	<h3>Change your password</h3>
		<form data-ng-submit="changeUserPassword()">
			<md-input-container>
				<label for="currentPassword">Current Password</label>
				<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
			</md-input-container>

			<md-input-container>
				<label for="newPassword">New Password</label>
				<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="#battlehack">
			</md-input-container>

			<md-input-container>
				<label for="verifyPassword">Verify Password</label>
				<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="#battlehack">
			</md-input-container>

			<div class="text-center form-group">
				<md-button type="submit" >Save Password</md-button>
			</div>

			<div data-ng-show="success" class="text-center text-success">
				<strong>Password Changed Successfully</strong>
			</div>

			<div data-ng-show="error" class="text-center text-danger">
				<strong data-ng-bind="error"></strong>
			</div>
		</form>
</section>
