
<section class="row" data-ng-controller="SettingsController">
	<md-input-container layout = "center center" class = "row">
	    <h3> Edit your profile</h3>
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
            <md-input-container>
                <label for="firstName">First Name</label>
                <input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="Sara">
            </md-input-container>

            <md-input-container>
                <label for="lastName">Last Name</label>
                <input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Ellis">
            </md-input-container>

            <md-input-container>
                <label for="username">E-mail</label>
                <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="sara@example.com">
            </md-input-container>

            <md-input-container>
                <label for="address">Street Address</label>
                <input type="text" id="address" name="address" class="form-control" data-ng-model="user.address" placeholder="1111 S Wonder Ave">
            </md-input-container>

            <md-input-container>
                <label for="zip">Zip Code</label>
                <input type="text" id="zip" name="zip" class="form-control" data-ng-model="user.zip" placeholder="99090">
            </md-input-container>

            <md-input-container>
                <label for="city">City</label>
                <input type="text" id="city" name="city" class="form-control" data-ng-model="user.city" placeholder="Chicago">
			</md-input-container>

            <md-input-container>
                <label for="state">State</label>
                <input type="text" id="state" name="state" class="form-control" data-ng-model="user.state" placeholder="IL">
			</md-input-container>

            <md-input-container>
					<md-button type="submit" class="btn btn-large btn-primary">Save Profile</md-button>
			</md-input-container>

            <div data-ng-show="success" class="text-center text-success">
                <strong>Profile Saved Successfully</strong>
            </div>

            <div data-ng-show="error" class="text-center text-danger">
                <strong data-ng-bind="error"></strong>
            </div>
		</form>
	</div>
</section>
