{% extends 'layout.server.view.html' %}

{% block content %}
	<section data-ui-view>
		<h1>Donate to Fun-Congress</h1>
		<p>
			Thanks to <span style="background:#eee;font-family:courier;
			font-size:12px;padding:4px;border-radius:3px;font-weight:bold;">
				braintree_dev</span>, we are able to be funded by people like you!
		</p>

		<pre>
			Honestly, they are the greatest people. I know the corporate system is flawed and all,
			but you should really go out of your way to use either paypal or <span style="background:#eee;font-family:courier;
			font-size:12px;padding:4px;border-radius:3px;font-weight:bold;">braintree_dev</span>!
				<br />
				They're wonderful!
				Charles Chamberlain &amp; Christopher Walker
		</pre>



		<!-- Drop In Form -->
		<form id="checkout" method="post" action="/checkout">
	  <div id="payment-form"></div>
	  <input type="submit" value="Pay $10">
		</form>

		 <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
		<!-- <script>
		// braintree.setup(clientToken, "dropin", {
		//   container: "payment-form"
		// });
		// </script> -->
	</section>
{% endblock %}
